.header {
    white-space: nowrap;
    @extend %small-caps;

    &_lines {
        position: relative;
        white-space: nowrap;
        @extend %small-caps;

        &::before {
            position: absolute;
            top: 53%;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 1px;
            content: '';
            background-color: #000;
        }
    }

    &__text {
        position: relative;
        z-index: 2;
        margin-left: 5px;
        padding: 5px;
        background-color: #fff;
    }
}

.main-header {
    position: relative;
    width: auto;
    white-space: nowrap;
    color: $primary-color;
    font-size: 20px;
    line-height: 20px;

    &__text {
        position: relative;
        z-index: 2;
        margin-left: 5px;
        padding: 5px;
        background-color: #fff;
    }
}

.close-header {
    position: relative;
    transition: all .1s ease-in;
    line-height: 32px;

    &:hover {
        cursor: pointer;
    }

    &::before {
        @include awesome-icon(absolute, '\f0dd', 20px);
        top: 50%;
        right: 10px;
        transform: translateY(-20px);
    }
}

.open-header {
    position: relative;
    white-space: nowrap;
    line-height: 32px;
}