@import "../css/font-awesome.min.css";

$font-stack: 'Open Sans', 'Roboto', Arial, sans-serif;
$primary-color: #900;
$box-shadow: 0 1px 6px rgba(32, 33, 36, .38);

%small-caps {
    text-transform: lowercase;
    font-variant: small-caps;
}

%multi-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

@mixin multi-textblock($fSize, $lHeight, $colCount) {
    @extend %multi-text;
    font-size: $fSize;
    line-height: $lHeight;
    -webkit-line-clamp: $colCount; 
}

@mixin awesome-icon($position, $content , $size) {
    position: $position;
    content: $content;
    font: {
        size: $size;
        family: FontAwesome, $font-stack;
    }
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "reset.scss";

@import "history-back.scss";
@import "book.scss";
@import "books-switcher.scss";
@import "field.scss";
@import "button.scss";
@import "header.scss";
@import "option.scss";
@import "captcha.scss";

@import "header-nav.scss";
@import "search.scss";

@import "home-page.scss";
@import "add-book.scss";
@import "book-description.scss";
@import "category.scss";
@import "read-book.scss";
@import "recent.scss";
@import "settings.scss";
@import "support.scss";


body {
    position: relative;
    background-color: #eee;

    font-family: $font-stack;
    font-weight: 400;

    @media only screen and (min-width: 1000px) {
        margin-left: 166px;
    }
}

input,
textarea,
button,
select {
    font-family: $font-stack;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset $box-shadow;
    background-color: #F5F5F5;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 2px;
}

.other-pages {
    max-width: 1600px;
    margin: auto;
    padding-top: 40px;

    &__block {
        overflow-x: hidden;
        margin: 10px 8px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: $box-shadow;
    }
}

.reviews {
    white-space: nowrap;
    color: $primary-color;
    font-size: 16px;
}