@import "../constants.scss";

.book-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px 8px;
  padding: 10px;
  font-size: 14px;

  &__info {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
  }

  &__book-cover {
    display: block;
    width: 100%;
    max-width: 290px;
    height: 376px;

    flex: 1 0;
  }

  &__main-info {
    display: flex;
    flex-flow: column nowrap;
    height: 176px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);

    @include tablet {
      margin-left: 15px;
      flex: 2 0;
      height: 376px;
    }

    @include desktop {
      margin-left: 15px;
      flex: 2 0;
    }

    &_more {
      height: 100%;
    }
  }

  &__title {
    @extend %small-caps;
    color: $primary-color;
    font-size: 25px; 
    line-height: 1.15em; 
    height: 30px; 
  }

  &__author, &__pablish-date {
    line-height: 1.15em;
    height: 17px;
  }

  &__control-info {
    padding-top: 10px;
    line-height: 1.25em;
    height: 44px; 
  }

  &__text {
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
    line-height: 1.25em;

    & .clamp-lines__button {
      color: $primary-color;
      font-size: 13px;
      border: none;
      background: rgb(255, 255, 255);

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__reviews {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 13px;
  }

  &__reviews-count {
    margin-left: 20px;
    font-size: 15px;
  }

  &__buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px;
  }

  &__button {
    margin: 0 5px;
    white-space: nowrap;
  }
}

.btn-read {
  color: $primary-color;
}
