@import '../constants.scss';

.Header-wrap {
  position: fixed;
  width: 100%; 
  height: 63px;
  z-index: 10;
  overflow: hidden;
  background-color: $header-color;

  &_active-menu {
    height: 100%;
    z-index: 20;
    transition: all .2s ease-out;
  }

  @include desktop {
    width: 166px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $primary-color;
  }
}

.Header {
  position: relative;
  height: 63px;
  padding: 0 $main-padding;
  font-weight: 300;
  background-color: #900;
  z-index: 12;

  &__open-btn {
    position: absolute;
    top: 22px;
    right: $main-padding + 2;
    font-size: 20px;
    color: #fff;

    &:before {
      @include awesome-icon(relative, '\f0c9' , inherit)
    }

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: $main-padding + 2;
    font-size: 20px;
    color: #fff;

    &:before {
      @include awesome-icon(relative, '\f00d' , inherit)
    }

    &:hover {
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: 22px;
    left: $main-padding;
    text-decoration: none;
    font-size: 20px;
    color: #fff;

    @include desktop {
      position: absolute;
      line-height: 53px;
      top: 20px;
      left: 18px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}