.add-book {
    
}

.add-book__content {
    margin-top: 15px;
    padding: 1px 8px;
}

.option {
    margin-bottom: 15px;
    padding: 10px 0;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
}

.option__header {
    overflow: hidden;

    box-sizing: border-box;
}

.option__content {
    padding: 0 10px;
}

.option__description {
    box-sizing: border-box;
    width: 100%;
    margin: 7px auto 4px;

    resize: none;

    border-radius: 8px;

    font-size: 16px;
}

.option__date-text {
    display: flex;
    flex-flow: row;
    align-items: center;

    font-size: 16px;
}

.option__date-field {
    margin-left: 10px;
    padding: 4px;
}

.external-options {
    display: none;
}

.captcha {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;

    border-radius: 10px;
}

.captcha input {
    display: inline-block;

    width: auto;

    box-shadow: none;
}

.add-book__upload-btn {
    box-sizing: border-box;
    margin: 15px auto;

    color: #900;
    border-radius: 5px;

    font-size: 20px;
}
