.book-description {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 15px;

    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.book-description__book-cover {
    width: 100%;
    max-width: 290px;
    min-height: 276px;
}

.book-description__title {
    margin-top: 10px;

    text-transform: lowercase;

    color: #900;

    font-size: 25px;
    font-variant: small-caps;
}

.book-description__author {
    margin-top: 5px;

    font-size: 14px;
}

.book-description__rating {
    margin-top: 10px;

    border: none;
}

.book-description__rating > input {
    display: none;
}

.book-description__rating > label:before {
    display: inline-block;

    margin-right: 5px;

    content: '\f005';

    font-family: FontAwesome;
    font-size: 32px;
}

.book-description__rating > .half:before {
    position: absolute;

    content: '\f089';
}

.book-description__rating > label {
    float: right;

    color: #ddd;
}

.book-description__rating > input:checked ~ label,
.book-description__rating:not(:checked) > label:hover,
.book-description__rating:not(:checked) > label:hover ~ label {
    color: #ffd700;
}

.book-description__rating > input:checked + label:hover,
.book-description__rating > input:checked ~ label:hover,
.book-description__rating > label:hover ~ input:checked ~ label,
.book-description__rating > input:checked ~ label:hover ~ label {
    color: #ffed85;
}

.book-description__reviews {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #dcdcdc;

    font-size: 13px;
}

.book-description__reviews span:last-child {
    margin-left: 35px;

    text-decoration: underline;

    color: #000;
}

.book-description__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.btn-read {
    color: #900;
}

.btn-download {
}

.other-pages__comments {
    margin-top: 15px;
}

.comments {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.comments__header {
    padding: 10px 15px;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 20px;
}

.comments__content {
    display: none;
    padding: 15px;
}

.comments__new-comment {
    margin-top: 5px;
}

.new-comment {
    display: flex;
    flex-flow: row;
}

.new-comment__desc {
    display: flex;
    flex-flow: column;

    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
}

.new-comment__text {
    box-sizing: border-box;
    width: 100%;

    resize: none;
}

.new-comment__text:focus + footer {
    display: block;
}

.new-comment__buttons {
    float: right;

    display: none;

    margin-top: 5px;
}

.new-comment__buttons:after {
    display: block;

    content: '';

    border-bottom: 2px solid black;
}

.new-comment__button {
    display: block;

    margin: 10px 0;
    padding: 3px;

    border-radius: 2px;

    font-size: 16px;
}

.btn-send {
    color: #900;
}

.comment {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 15px;

    font-size: 13px;
}

.comment__user-image {
    display: inline-block;
}

.comment__user-image:before {
    content: '\f2be';
    transform: translate(0, 10px);

    font-family: FontAwesome;
    font-size: 48px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.comment__desc {
    display: flex;
    flex-flow: column;

    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
}

.comment__author {
    color: #900;
}

.comment__time {
    margin-left: 5px;

    color: #999;
}

.comment__text {
    margin-top: 8px;

    line-height: 1.25em;
}
