@media only screen and (min-width: 768px) and (max-width: 1265px) {
    .books-switcher {
        width: 350px;

        transform: translateX(-350px);
    }

    .books-switcher__book {
        min-width: 338px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .books-switcher {
        width: 272px;

        transform: translateX(-272px);
    }

    .books-switcher__book {
        min-width: 260px;
    }
}

@media only screen and (max-width: 300px) {
    .books-switcher {
        width: 272px;

        transform: translateX(-272px);
    }

    .books-switcher__book {
        min-width: 260px;
    }
}

.books-switcher {
    display: flex;
    overflow: visible;
    flex-flow: row;
    justify-content: flex-start;

    min-width: 272px;
    margin: 0 auto;

    flex-wrap: nowrap;
}

.books-switcher__dots {
    position: absolute;
    left: 50%;

    user-select: none;
    transform: translateX(-18px);
}

.books-switcher__dot {
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;

    font-size: 7px;
}

.books-switcher__dot_active {
    color: red;
}

.books-switcher__see-more {
    position: absolute;
    right: 15px;
    bottom: 13px;

    cursor: pointer;
    text-decoration: none;

    color: #900;

    font-size: 16px;
}

.books-switcher__see-more::after {
    margin-left: 5px;

    content: '\f105 \f105';

    font-family: FontAwesome;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.books-switcher__book {
    max-width: 420px;
    margin: 10px 6px;
}
