.book-description {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    padding-right: 8px;
    padding-left: 8px;
    margin: 0 auto;
    max-width: 1084px;
}

.book-description__content {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 10px;

    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.book-description__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.book-description__book-cover {
    width: 100%;
    max-width: 290px;
    min-height: 276px;

    flex: 1 0;
}

@media only screen and (min-width: 621px) {
    .book-description__main-info {
        margin-left: 15px;
        flex: 2 0;
    }

    .book-description__text {
        flex: 2 0;
        -webkit-line-clamp: 16;
        -webkit-box-orient: vertical;
    }

    .comments__content {
        display: block !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 620px) {
    .book-description__main-info {
        width: 100%;
    }

    .book-description__text {
        flex: 2 0;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .comments__content {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .book-description__content {
        min-width: 272px;
    }

    .book-description__text {
        flex: 2 0;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .comments__content {
        display: none;
    }
}

.book-description__main-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 10px;

    border-bottom: 1px solid rgba(0,0,0,.2);
}

.book-description__title {
    text-transform: lowercase;

    color: #900;

    font-size: 25px;
    font-variant: small-caps;
}

.book-description__author {
    margin-top: 5px;

    font-size: 14px;
}

.book-description__control-info {
    margin-top: 10px;

    font-size: 14px;
}

.book-description__pablish-date {
    margin-top: 5px;
}

.book-description__text {
    display: -webkit-box;
    overflow: hidden;

    margin-top: 10px;
    padding-top: 2px;

    text-overflow: ellipsis;

    font-size: 13px;
    line-height: 1.25em;
}

.book-description__text-more {
    display: block;

    color: #900;

    font-size: 13px;
}

.book-description__reviews {
    display: flex;
    flex-flow: row;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 15px 0;

    border-bottom: 1px solid #dcdcdc;

    font-size: 13px;
}

.book-description__rating {
    border: none;
}

.book-description__rating > input {
    display: none;
}

.book-description__rating > label:before {
    display: inline-block;

    margin-right: 5px;

    content: '\f005';

    font-family: FontAwesome;
    font-size: 32px;
}

.book-description__rating > .half:before {
    position: absolute;

    content: '\f089';
}

.book-description__rating > label {
    float: right;

    color: #ddd;
}

.book-description__rating > input:checked ~ label,
.book-description__rating:not(:checked) > label:hover,
.book-description__rating:not(:checked) > label:hover ~ label {
    color: #ffd700;
}

.book-description__rating > input:checked + label:hover,
.book-description__rating > input:checked ~ label:hover,
.book-description__rating > label:hover ~ input:checked ~ label,
.book-description__rating > input:checked ~ label:hover ~ label {
    color: #ffed85;
}

.book-description__reviews-count {
    margin-left: 25px;

    font-size: 15px;
}

.book-description__buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 10px;
}

.book-description__button {
    margin: 0 5px;

    white-space: nowrap;
}

.btn-read {
    color: #900;
}

.other-pages__comments {
    margin-top: 15px;
}

.comments {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;

    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.comments__header {
    overflow: hidden;

    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 20px;
}

.comments__content {
    padding: 15px;
}

.new-comment {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.new-comment__desc {
    display: flex;
    flex-flow: column;

    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
}

.new-comment__text {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    resize: none;
}

.new-comment__text:focus + footer {
    display: block;
}

.new-comment__buttons {
    float: right;

    display: none;

    margin-top: 5px;
}

.new-comment__buttons:after {
    display: block;

    content: '';

    border-bottom: 2px solid black;
}

.new-comment__button {
    display: block;

    margin: 10px 0;
    padding: 3px;

    border-radius: 2px;

    font-size: 16px;
}

.btn-send {
    color: #900;
}

.comment {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 15px;

    font-size: 13px;
}

.comment__user-image {
    display: inline-block;
}

.comment__user-image:before {
    content: '\f2be';
    transform: translate(0, 10px);

    font-family: FontAwesome;
    font-size: 48px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.comment__desc {
    display: flex;
    flex-flow: column;

    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
}

.comment__author {
    color: #900;
}

.comment__time {
    margin-left: 5px;

    color: #999;
}

.comment__text {
    margin-top: 8px;

    line-height: 1.25em;
}
