.main__category {
    position: relative;

    overflow: hidden;

    margin-bottom: 15px;

    white-space: nowrap;

    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
    border-radius: 8px;
}

.category__name {
    box-sizing: border-box;
    margin: 15px auto 5px;
}

.category__books {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    padding: 0 10px;

    flex-wrap: wrap;
}

.category__book {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    width: 100%;
    margin: 10px auto;
}