@media only screen and (min-width: 1281px) {
    .category__book {
        width: 24%;
    }
}

@media only screen and (min-width: 921px) and (max-width: 1280px) {
    .category__book {
        width: 32%;
    }
}

@media only screen and (min-width: 621px) and (max-width: 920px) {
    .category__book {
        width: 48%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 620px) {
    .category__book {
        width: 100%;
    }
}


.main__category {
    position: relative;

    overflow: hidden;

    margin-bottom: 15px;

    white-space: nowrap;

    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.category__name {
    box-sizing: border-box;
    margin: 15px auto 5px;
}

.category__books {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    padding: 0 10px;

    flex-wrap: wrap;
}

.category__book {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

    box-sizing: border-box;
    min-width: 265px;
    max-width: 450px;
    margin: 10px auto;
}
