.home-page__search {
    z-index: 3;
}

.home-page__main {
    z-index: 1;

    box-sizing: border-box;
    padding: 136px 8px 0;

    user-select: none;
}

.home-page__books {
    padding-bottom: 30px;
}
