.home-page__search {
	top: 43px;
    z-index: 3;
}

.home-page__main {
    z-index: 1;

    padding: 136px 8px 0;
    box-sizing: border-box;
    user-select: none;
}

.home-page__books {
	padding-bottom: 30px;
}