.modal-block {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 25px;
	box-sizing: border-box;
}

.modal-block__main {
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	z-index: 200;
}

.modal-block__cancel {
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal-block__menu {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.modal-block__menu::before {
	content: " ";
	position: absolute;
	bottom: -2px;
	display: block;
	height: 3px;
	background-color: black;
	width: 100%;
}

.modal-block__menu-option {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	font-size: 24px;
	flex-grow: 1;
	text-align: center;
}

.modal-block__active-option {
	background-color: #eee;
	color: #990000;
	font-weight: 800;
}

.modal-block__active-content {
	display: flex !important;
}

.sign-in {

}

.sign-up {

}

#sign-in {
	display: none;
}

#sign-up {
	display: none;
}

.modal-block__content {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.modal-block__content input {
	margin: 8px auto 7px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 7px 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
	border: none;
	border-radius: 4px;
}

.modal-block__content-email {

}

.modal-block__content-password {

}

.modal-block__content-help {
	display: block;
	margin: 7px auto;
	font-size: 15px;
}

.modal-block__content-btn {
	padding: 6px;
	font-size: 20px;
	margin-top: 15px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
}