.read-book {
	padding: 55px 15px 0;
	background-color: #fff;
}

.read-book .main-header__info span:first-child {
	display: block;
	font-size: 24px;
}

.read-book .main-header__info span:last-child {
	font-size: 13px;
	color: black;
}

.read-book__content {
	line-height: 1.25em;
	font-size: 1em;
	margin-top: 15px;
	text-indent: 40px;
	word-spacing: 1.5px;
	text-align: justify;
}