.read-book {
	
}

.read-book .main-header span:first-child {
	font-size: 20px;
}

.read-book .main-header span:last-child {
	font-size: 13px;
	color: black;
}

.read-book__content {
	line-height: 1.25em;
	font-size: 1em;
	margin-top: 15px;
	text-indent: 40px;
	word-spacing: 1.5px;
	text-align: justify;
}