.read-book {
}

.book__author {
    color: black;
}

.read-book__content {
    margin-top: 15px;
    padding: 0 15px;

    text-align: justify;
    text-indent: 40px;
    word-spacing: 1.5px;

    font-size: 1em;
    line-height: 1.25em;
}
