.recent {
    padding-top: 15px;
}

.recent__content {
    margin-top: 15px;
    padding: 1px 8px;
}

.recent__category {
    margin-bottom: 15px;
    padding: 10px;

    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.recent__category-date {
    overflow: hidden;
    box-sizing: border-box;

    margin-left: -10px;
    margin-right: -10px;

    font-size: 14px;
}

.recent__book {
    display: flex;
    flex-flow: row;

    box-sizing: border-box;
    width: 100%;
    margin: 10px auto;
    padding: 15px 10px;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #fff;
}

.recent__book:nth-child(2) {
    margin-top: 8px;
}

.recent__book-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-grow: 6;
}

.recent__book-title {
    color: #900;

    font-size: 18px;
    line-height: 1.25em;
}

.recent__book-author {
    font-size: 13px;
}

.recent__book-description {
    display: -webkit-box;
    overflow: hidden;
    flex-grow: 1;

    margin-top: 5px;

    text-overflow: ellipsis;

    font-size: 12px;
    line-height: 1.2em;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.recent__book-progress {
    position: relative;

    width: auto;
    height: 8px;
    margin: 15px 10px 10px 25px;
}

.recent__book-progress::before {
    position: absolute;
    top: -8px;
    left: -25px;

    content: '\f252';

    font-family: FontAwesome;
    font-size: 24px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.recent__book-cover {
    flex-grow: 1;

    max-height: 128px;
}
