.settings {
    padding: 15px;
}

.settings__content {
    margin-top: 15px;
}

.settings__option {
    display: none;
}

.settings__option input {
    box-sizing: border-box;
    width: 100%;
    margin: 8px auto 7px;
    padding: 7px 5px;

    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);

    font-size: 16px;
}

.settings__option-info {
    color: #999;

    font-size: 13px;
}

.settings__option-email {
    margin-top: 5px;

    font-size: 16px;
    font-weight: bold;
}

.settings__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.btn-clear {
    color: #000;
}

.btn-submit {
    color: #900;
}

.close-header,
.open-header {
    position: relative;

    margin-top: 15px;
    padding-left: 30px;

    line-height: 32px;
}

.close-header::before {
    position: absolute;
    top: 2px;
    left: 0;

    margin-right: 5px;

    content: '\f196';

    font-family: FontAwesome;
    font-size: 32px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.open-header::before {
    position: absolute;
    top: 2px;
    left: 0;

    margin-right: 5px;

    content: '\f147';

    font-family: FontAwesome;
    font-size: 32px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
