.settings {
    padding-top: 15px;
}

.settings__header {
    padding: 15px;

    border-bottom: 1px solid #dcdcdc;
}

.settings__info {
    color: #999;

    font-size: 13px;
}

.settings__email {
    margin-top: 5px;

    font-size: 16px;
    font-weight: bold;
}

.option {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
    margin-bottom: 15px
}

.option__name {
    padding: 10px 15px;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 20px;
}

.option__form {
    display: none;
    padding: 0 15px 15px;
}

.option__form input {
    box-sizing: border-box;
    width: 100%;
    margin: 7px auto 8px;
    padding: 7px 5px;

    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);

    font-size: 16px;
}

.option__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-clear {
    color: #000;
}

.btn-submit {
    color: #900;
}