.settings__header {
    padding: 10px 18px 12px;
}

.settings__info {
    color: #999;

    font-size: 13px;
}

.settings__email {
    margin-top: 5px;

    font-size: 16px;
    font-weight: bold;
}

.options {
    padding: 1px 8px;
}

.option {
    margin-bottom: 15px;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
}

.option__name {
    overflow: hidden;

    padding-top: 10px;
    padding-bottom: 10px;

    text-transform: lowercase;

    font-size: 20px;
    font-variant: small-caps;
}

.option__form {
    display: none;

    padding: 0 10px 15px;
}

.option__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.btn-clear {
    color: #000;
}

.btn-submit {
    color: #900;
}
