body {
    background-color: #fff;

    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

input,
textarea,
button,
select {
    font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}

.history-back {
    position: relative;
    z-index: 5;

    display: block;

    text-align: right;
    text-decoration: none;

    color: #085394;

    font-size: 20px;
}

.history-back:before {
    position: absolute;
    top: -5px;
    right: 50px;

    content: '\f060';
    cursor: pointer;

    font-family: FontAwesome, sans-serif;
    font-size: 30px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-nav {
    position: fixed;
    z-index: 10;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 43px;
    padding: 0 15px;

    background-color: #900;

    font-family: 'Open Sans';
    font-weight: 300;
}

.header-nav__menu-btn {
    position: absolute;
    right: 15px;

    cursor: pointer;

    font-size: 20px;
}

.header-nav__logo {
    text-decoration: none;

    color: #fff;

    font-size: 20px;
}

.header-nav__logo:hover {
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;

    display: none;

    width: 80vw;
    height: 100vh;

    border-left: 1px solid black;
    background: #fff;

    font-weight: 400;
}

.menu__close-btn {
    position: absolute;
    top: 12px;
    right: 16px;

    cursor: pointer;

    font-size: 20px;
}

.menu__profile {
    padding-left: 55px;

    border-bottom: 1px solid black;
    background-color: #eee;

    line-height: 100px;
}

.menu__profile:before {
    position: absolute;
    left: 15px;

    content: '\f2be';
    cursor: pointer;

    color: #000;

    font-family: FontAwesome;
    font-size: 48px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu__profile-link {
    margin-left: 20px;

    text-decoration: none;

    color: #900;

    font-size: 20px;
    font-weight: 600;
}

.menu__option {
    border-bottom: 1px solid black;

    font-size: 20px;
}

.menu__option:hover {
    cursor: pointer;
}

.menu__option-link {
    display: block;

    width: 100%;
    padding-left: 15px;

    text-decoration: none;

    line-height: 60px;
}

.search {
    position: fixed;

    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);

    font-size: 18px;
    font-weight: 300;
}

.search__box-shadow {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;

    box-sizing: border-box;

    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.search__field-ico {
    position: relative;
}

.search__field-ico:before {
    position: absolute;
    top: 50%;
    left: 13px;
    z-index: 2;

    content: '\f002';
    transform: translateY(-9px);

    font-family: FontAwesome;
    font-size: 18px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search__field {
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    padding-left: 39px;

    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;

    font-size: 18px;
    line-height: 28px;
}

.search__field:focus {
    outline: none;
}

.search__options-ico {
    position: relative;
}

.search__options-ico::before {
    position: absolute;
    top: 50%;
    left: 13px;
    z-index: 3;

    content: '\f0b0';
    transform: translateY(-9px);

    font-family: FontAwesome;
    font-size: 18px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search__options {
    position: relative;

    width: 100%;
    height: 32px;
    padding: 1px 0;
    padding-left: 35px;

    color: #000;
    border: none;
    border-radius: 5px;
    background-color: #fff;

    font-size: 18px;
}

.search__options:focus {
    outline: none;
}

.main {
    width: 100%;

    background-color: #fff;

    font-family: 'Roboto', 'Open Sans';
}


/* TODO change this style on other pages */

.other-pages {
    padding-top: 40px;
}

.header {
    box-sizing: border-box;

    white-space: nowrap;
    text-transform: lowercase;

    font-size: 20px;
    font-variant: small-caps;
}

.header::after {
    display: inline-block;

    width: 100%;
    height: 1px;
    margin-left: 3px;

    content: '';
    transform: translateY(-5px);

    background-color: #000;
}

.header::before {
    display: inline-block;

    width: 12px;
    height: 1px;
    margin-right: 3px;

    content: '';
    transform: translateY(-5px);

    background-color: #000;
}

.button {
    display: block;

    box-sizing: border-box;
    margin-top: 15px;
    padding: 10px;

    text-decoration: none;
    text-transform: lowercase;

    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;

    font-size: 20px;
    font-variant: small-caps;
}

.main-header {
    position: relative;

    width: auto;

    white-space: nowrap;

    color: #900;

    font-size: 20px;
    line-height: 20px;
}

.main-header span {
    position: relative;
    z-index: 2;

    margin-left: 15px;
    padding: 5px;

    background-color: #fff;
}

.main-header::before {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    width: 100vw;
    height: 2px;

    content: '';

    background-color: #000;
}

/* ------------------------------------- */


.book {
    position: relative;

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 15px 10px;

    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
}

.book__cover {
    width: 47%;
}

.book__info {
    margin-left: 10px;

    white-space: normal;
}

.book__title {
    text-decoration: none;

    color: #900;

    font-size: 18px;
}

.book__author {
    font-size: 13px;
}

/* TODO find alternative for height */

.book__desc {
    overflow-y: hidden;

    height: 89px;
    margin-top: 5px;

    font-size: 11px;
}

.book__reviews {
    position: absolute;
    bottom: 14px;
}

.reviews {
    white-space: nowrap;

    color: #900;

    font-size: 16px;
}

.close-header {
    position: relative;

    line-height: 32px;
}

.open-header {
    position: relative;
    padding: 10px 0;
    line-height: 32px;
    white-space: nowrap;
}

.close-header::before {
    position: absolute;
    top: 50%;
    transform: translateY(-20px);
    right: 15px;

    content: "\f0dd";

    font-family: FontAwesome;
    font-size: 20px;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
