body {
	font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
	background-color: #fff;
	font-weight: 400;
}

input, textarea, button, select {
	font-family: 'Open Sans', 'Roboto', Arial, sans-serif;
	font-weight: 400;
}

.history-back {
	display: block;
	z-index: 5;
	text-decoration: none;
	color: #085394;
	font-size: 20px;
	text-align: right;
	position: relative;
}

.history-back:before {
	content: "\f060  ";
  	font-family: FontAwesome;
  	font-size: 30px;
  	position: absolute;
  	right: 50px;
  	top: -5px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.header-nav {
	width: 100%;
	background-color: #990000;
	height: 43px;
	padding: 0 15px;
	position: fixed;
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
	font-family: 'Open Sans';
	font-weight: 300;
}

.header-nav i {
	position: absolute;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

.header-nav__logo {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

.header-nav__logo:hover {
	cursor: pointer;
}

.header-nav i {
	font-size: 20px;
	cursor: pointer;
}

.menu {
	display: none;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 245px;
	height: 100vh;
	background: #fff;
	border-left: 1px solid black;
	font-weight: 400;
	z-index: 9999;
}

.menu > i {
	position: absolute;
	right: 17px;
	top: 14px;
	font-size: 20px;
	cursor: pointer;
}

.menu__profile {
	line-height: 100px;
	padding-left: 55px;
	border-bottom: 1px solid black;
	background-color: #eee;
}

.menu__profile:before {
	content: "\f2be";
	position: absolute;
	left: 15px;
	color: #000;
	font-size: 48px;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.menu__profile a {
	text-decoration: none;
	color: #990000;
	font-size: 20px;
	margin-left: 20px;
	font-weight: 600;
}

.menu__options {
	
}

.menu__options li {
	border-bottom: 1px solid black;
	font-size: 20px;
}

.menu__options li:hover {
	cursor: pointer;
}

.menu__options li > a {
	padding-left: 15px;
	text-decoration: none;
	width: 100%;
	line-height: 60px;
	display: block;
}

.search {
	width: 100%;
	font-size: 18px;
	font-weight: 300;
	position: fixed;
	top: 43px;
	box-sizing: border-box;
	padding: 15px;
	z-index: 3;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);
}

.search > section {
	border-radius: 6px;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: space-around;
	box-sizing: border-box;
	background-color: #fff;
}

.search__field-ico {
	position:  relative;
}

.search__field-ico:before {
	content: "\f002";
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-9px);
	font-size: 18px;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 2;
}

.search__field {
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	line-height: 28px;
	font-size: 18px;
	padding-left: 37px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.search__field:focus {
	outline: none;
}

.search__options-ico {
	position: relative;
}

.search__options-ico::before {
	content: "\f0b0";
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-9px);
	font-size: 18px;
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: 3;
}

.search__options {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 1px 0;
	padding-left: 35px;
	height: 32px;
	background-color: #fff;
	color: #990000;
	font-size: 18px;
	position: relative;
}

.search__options:hover {
	cursor: pointer;
}

.search__options:focus {
	outline: none;
} 

.main {
	width: 100%;
	padding-top: 136px;
	user-select: none;
	z-index: 1;
}

.main-block {
	padding: 55px 15px 0;
	background-color: #fff;
	font-family: 'Roboto', 'Open Sans';
}

.main-header {
	color: #990000;
	font-size: 20px;
	line-height: 20px;
	width: auto;
	white-space: nowrap;
	position: relative;
}

.main-header span {
	background-color: #fff;
	position: relative;
	padding: 5px;
	margin-left: -5px;
	z-index: 2;
}

.main-header::before {
	content: " ";
	position: absolute;
	top: 50%;
	left: -15px;
	width: 100vw;
	height: 2px;
	background-color: #000;
	z-index: 1;
}

.main__category {
	background-color: #fff;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	margin-top: 15px;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);
}

.category__name {
	margin: 15px auto 5px;
	box-sizing: border-box;
}

.category__name::after {
	content: " ";
	display: inline-block;
	transform: translateY(-5px);
	width: 100%;
	height: 1px;
	background-color: #000;
	margin-left: 3px;
}

.category__name::before {
	content: " ";
	display: inline-block;
	transform: translateY(-5px);
	width: 12px;
	height: 1px;
	background-color: #000;
	margin-right: 3px;
}

.books-main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.books-main__switcher {
	width: 272px;
	overflow: visible;
	margin: 0 auto;
	transform: translateX(-272px);
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.books-main > .book {
	width: 100%;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
}

.switcher-dots {
	width: 40px;
	margin: 0 auto 15px;
	user-select: none;
}

.switcher-dots__dot {
	border: 2px solid black;
	border-radius: 8px;
	color: #fff;
	font-size: 7px;
}

.switcher-dots__dot--active {
	color: red;
}

.category__more {
	position: absolute;
	right: 15px;
	bottom: 13px;
	font-size: 16px;
	color: #990000;
	text-decoration: none;
}

.category__more:after {
	content: "  \f105 \f105";
	font-family: FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.category__more:hover {
	cursor: pointer;
}

.book {
	min-width: 260px;
	height: 175px;
	margin: 10px 6px;
	padding: 15px 10px;
	border-radius: 5px;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);
	display: flex;
	box-sizing: border-box;
	position: relative;
}

.book__cover {
	width: 96px;
	height: 145px;
}

.book__info {
	margin-left: 10px;
	white-space: normal;
}

.book__name {
	color: #990000;
	font-size: 18px;
	text-decoration: none;
}

.book__author {
	font-size: 13px;
}

.book__desc {
	margin-top: 5px;
	height: 89px;
	font-size: 11px;
	overflow-y: hidden;
}

.book__reviews {
	position: absolute;
	bottom: 14px;
	font-size: 16px;
	color: #990000;
	white-space: nowrap;
}

