@charset "UTF-8";
@import url(../css/font-awesome.min.css);
.button, .header, .header_lines, .book-description__title {
  text-transform: lowercase;
  font-variant: small-caps; }

.book__desc, .book-description__text, .recent__book-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea {
  box-sizing: border-box; }

.history-back {
  position: relative;
  z-index: 5;
  display: block;
  text-align: right;
  text-decoration: none;
  color: #085394;
  font-size: 20px; }
  .history-back::before {
    position: absolute;
    content: "";
    font-size: 18px;
    font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -5px;
    right: 50px; }
    .history-back::before:hover {
      cursor: pointer; }

.books {
  position: relative;
  min-width: 282px;
  margin: 0 auto; }
  @media only screen and (min-width: 1266px) {
    .books {
      width: fit-content; } }

.book {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .book__cover {
    width: 47%; }
  .book__info {
    margin-left: 10px;
    white-space: normal; }
  .book__title {
    text-decoration: none;
    color: #900; }
  .book__author {
    font-size: 13px; }
  .book__desc {
    font-size: 12px;
    line-height: 1.15em;
    -webkit-line-clamp: 6;
    margin-top: 5px; }
  .book__reviews {
    position: absolute;
    bottom: 14px; }

.books-switcher {
  display: flex;
  overflow: visible;
  flex-flow: row;
  justify-content: flex-start;
  width: 272px;
  margin: 0 auto;
  transition: transform 0s ease-out;
  flex-wrap: nowrap;
  transform: translate(-272px, 0) translateZ(0px); }
  @media only screen and (min-width: 768px) {
    .books-switcher {
      width: 350px;
      transform: translateX(-350px); } }
  .books-switcher__dots {
    position: absolute;
    left: 50%;
    user-select: none;
    transform: translateX(-18px); }
  .books-switcher__dot {
    margin: 0 2px;
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 7px; }
    .books-switcher__dot_active {
      color: red; }
  .books-switcher__see-more {
    position: absolute;
    right: 20px;
    bottom: 13px;
    cursor: pointer;
    text-decoration: none;
    color: #900; }
    .books-switcher__see-more::after {
      margin-left: 5px;
      position: inherit;
      content: "";
      font-size: 16px;
      font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  .books-switcher__book {
    min-width: 260px;
    margin: 10px 6px; }
    @media only screen and (min-width: 768px) {
      .books-switcher__book {
        min-width: 338px; } }

.field {
  width: 100%;
  margin: 8px auto 7px;
  padding: 7px 5px;
  transition: all .1s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 16px; }
  .field:hover {
    border: 1px solid rgba(0, 0, 0, 0.4); }

.button {
  display: block;
  padding: 10px;
  transition: all .1s ease-in;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px; }
  .button:hover {
    transition: all .1s ease-in;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38);
    font-weight: 600; }
  .button:active {
    transform: scale(0.95);
    outline: none; }

.header {
  white-space: nowrap; }
  .header_lines {
    position: relative;
    white-space: nowrap; }
    .header_lines::before {
      position: absolute;
      top: 53%;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 1px;
      content: '';
      background-color: #000; }
  .header__text {
    position: relative;
    z-index: 2;
    margin-left: 5px;
    padding: 5px;
    background-color: #fff; }

.main-header {
  position: relative;
  width: auto;
  white-space: nowrap;
  color: #900;
  font-size: 20px;
  line-height: 20px; }
  .main-header__text {
    position: relative;
    z-index: 2;
    margin-left: 5px;
    padding: 5px;
    background-color: #fff; }

.close-header {
  position: relative;
  transition: all .1s ease-in;
  line-height: 32px; }
  .close-header:hover {
    cursor: pointer; }
  .close-header::before {
    position: absolute;
    content: "";
    font-size: 20px;
    font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    right: 10px;
    transform: translateY(-20px); }

.open-header {
  position: relative;
  white-space: nowrap;
  line-height: 32px; }

.options {
  padding: 1px 8px; }

.option {
  margin-bottom: 15px;
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px; }
  .option__header {
    overflow: hidden;
    font-size: 20px; }
  .option__content {
    position: relative;
    padding: 0 10px; }
  .option__field {
    position: relative;
    display: block; }
  .option__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

.captcha {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  border-radius: 10px; }
  .captcha__quest {
    display: inline-block; }
  .captcha__text {
    font-weight: 400; }

.menu {
  position: fixed;
  height: 100vh;
  font-weight: 400;
  font-size: 20px; }
  @media only screen and (max-width: 999px) {
    .menu {
      top: 0;
      right: 0;
      background: #fff; } }
  @media only screen and (min-width: 1000px) {
    .menu {
      top: 0;
      left: 0;
      width: 166px;
      border-right: 1px solid black;
      background: #900; } }
  .menu_open {
    transition: all .2s ease-out;
    border-left: 1px solid black; }
    @media only screen and (max-width: 999px) {
      .menu_open {
        width: 50vw; } }
  .menu_close {
    display: block;
    overflow: hidden;
    transition: all .0s ease-out; }
    @media only screen and (max-width: 999px) {
      .menu_close {
        width: 0px; } }
  .menu__close-btn {
    position: absolute;
    top: 12px;
    right: 18px; }
    .menu__close-btn:hover {
      cursor: pointer; }
    @media only screen and (min-width: 1000px) {
      .menu__close-btn {
        display: none; } }
  .menu__profile {
    padding-left: 55px;
    line-height: 100px; }
    @media only screen and (max-width: 999px) {
      .menu__profile {
        border-bottom: 1px solid black;
        background-color: #eee; } }
    @media only screen and (min-width: 1000px) {
      .menu__profile {
        border-bottom: 1px solid #fff;
        background-color: #900; } }
    .menu__profile::before {
      position: absolute;
      content: "";
      font-size: 48px;
      font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      left: 18px;
      color: #000; }
      @media only screen and (min-width: 1000px) {
        .menu__profile::before {
          color: #fff; } }
      .menu__profile::before:hover {
        cursor: pointer; }
  .menu__profile-link {
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #900; }
    @media only screen and (min-width: 1000px) {
      .menu__profile-link {
        color: #fff; } }
  .menu__option {
    font-size: 16px;
    border-bottom: 1px solid black; }
    @media only screen and (min-width: 1000px) {
      .menu__option {
        border-bottom: 1px solid #fff; } }
    .menu__option:hover {
      cursor: pointer; }
  .menu__option-link {
    display: block;
    width: 100%;
    padding-left: 18px;
    text-decoration: none;
    line-height: 60px; }
    @media only screen and (min-width: 1000px) {
      .menu__option-link {
        color: #fff; } }

.header-nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 43px;
  padding: 0 18px;
  background-color: #900;
  font-weight: 300; }
  @media only screen and (min-width: 1000px) {
    .header-nav {
      width: calc(100% - 166px);
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38); } }
  .header-nav__menu-btn {
    position: absolute;
    right: 18px;
    font-size: 20px; }
    .header-nav__menu-btn:hover {
      cursor: pointer; }
    @media only screen and (min-width: 1000px) {
      .header-nav__menu-btn {
        display: none; } }
  .header-nav__logo {
    text-decoration: none;
    font-size: 20px;
    color: #fff; }
    @media only screen and (min-width: 1000px) {
      .header-nav__logo {
        color: #000;
        font-weight: 400; } }
    .header-nav__logo:hover {
      cursor: pointer; }

.search {
  width: 100%;
  position: fixed;
  padding: 55px 8px 1px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 300; }
  @media only screen and (min-width: 1000px) {
    .search {
      width: calc(100% - 166px); } }
  .search__box-shadow {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38); }
  .search__field-ico {
    position: relative; }
    .search__field-ico::before {
      position: absolute;
      content: "";
      font-size: 18px;
      font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      left: 10px;
      z-index: 2;
      transform: translateY(-9px); }
  .search__field {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-left: 39px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    line-height: 28px; }
    .search__field:focus {
      outline: none; }
  .search__options-ico {
    position: relative; }
    .search__options-ico::before {
      position: absolute;
      content: "";
      font-size: 18px;
      font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      top: 50%;
      left: 10px;
      z-index: 3;
      transform: translateY(-9px); }
  .search__options {
    position: relative;
    width: 100%;
    height: 32px;
    padding: 1px 0;
    padding-left: 35px;
    color: #000;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px; }
    .search__options:focus {
      outline: none; }

.home-page {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: auto; }
  .home-page__search {
    z-index: 3; }
  .home-page__main {
    z-index: 1;
    box-sizing: border-box;
    padding: 136px 8px 0;
    user-select: none; }
  .home-page__books {
    padding-bottom: 30px; }

@media only screen and (min-width: 767px) {
  .add-book .option__field {
    width: 50%;
    margin: 10px 0; } }
.add-book__options {
  margin-top: 15px; }
.add-book__source::before {
  position: absolute;
  content: "";
  font-size: 24px;
  font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 50%;
  right: 10px;
  transform: translateY(-12px); }
.add-book__source-field {
  visibility: hidden;
  margin: 0; }
.add-book__source-title {
  position: absolute;
  top: 50%;
  transform: translateY(-8px);
  background-color: #fff; }
.add-book__description {
  resize: none;
  border-radius: 8px; }
  @media only screen and (min-width: 767px) {
    .add-book__description {
      position: absolute;
      top: 0;
      right: 10px;
      width: calc(50% - 20px);
      height: calc(100% - 7px);
      margin: 0; } }
.add-book__date-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 16px; }
  @media only screen and (min-width: 767px) {
    .add-book__date-header {
      width: 50%; } }
.add-book__date-field {
  margin-left: 10px;
  padding: 4px; }
.add-book__upload-btn {
  margin: 15px auto;
  color: #900;
  font-size: 20px; }
.add-book__external-options {
  display: none; }

.other-pages__comments {
  box-sizing: border-box;
  margin: 15px 8px; }

.comments {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38); }
  .comments__header {
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; }
  .comments__content {
    display: none;
    padding: 15px; }
    @media only screen and (min-width: 621px) {
      .comments__content {
        display: block !important; } }

.new-comment {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .new-comment__desc {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    margin-left: 10px; }
  .new-comment__text {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    resize: none; }
  .new-comment__text:focus + footer {
    display: block; }
  .new-comment__buttons {
    float: right;
    display: none;
    margin-top: 5px; }
    .new-comment__buttons:after {
      display: block;
      content: '';
      border-bottom: 2px solid black; }
  .new-comment__button {
    display: block;
    margin: 10px 0;
    padding: 3px;
    border-radius: 2px;
    font-size: 16px; }

.btn-send {
  color: #900; }

.comment {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  font-size: 13px; }
  .comment__user-image {
    display: inline-block; }
  .comment__user-image:before {
    position: inherit;
    content: "";
    font-size: 48px;
    font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 10px); }
  .comment__desc {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    margin-left: 10px; }
  .comment__author {
    color: #900; }
  .comment__time {
    margin-left: 5px;
    color: #999; }
  .comment__text {
    margin-top: 8px;
    line-height: 1.25em; }

.book-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px 8px;
  padding: 10px;
  font-size: 14px; }
  .book-description__info {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; }
  .book-description__book-cover {
    max-width: 290px;
    min-height: 276px;
    flex: 1 0; }
  .book-description__main-info {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    @media only screen and (min-width: 621px) {
      .book-description__main-info {
        margin-left: 15px;
        flex: 2 0; } }
  .book-description__title {
    color: #900;
    font-size: 25px; }
  .book-description__author, .book-description__pablish-date {
    margin-top: 5px; }
  .book-description__control-info {
    margin-top: 10px; }
  .book-description__text {
    font-size: 13px;
    line-height: 1.25em;
    -webkit-line-clamp: 3;
    flex: 2 0;
    margin-top: 10px;
    padding-top: 2px; }
    @media only screen and (min-width: 621px) {
      .book-description__text {
        -webkit-line-clamp: 16; } }
  .book-description__text-more {
    display: block;
    color: #900;
    font-size: 13px; }
  .book-description__reviews {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    font-size: 13px; }
  .book-description__rating {
    position: relative;
    border: none;
    min-width: 174px; }
    .book-description__rating > input {
      display: none; }
    .book-description__rating > label:before {
      display: inline-block;
      margin-right: 5px;
      position: inherit;
      content: "";
      font-size: 32px;
      font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .book-description__rating > .half:before {
      position: absolute;
      content: '\f089'; }
    .book-description__rating > label {
      float: right;
      color: #ddd; }
  .book-description__reviews-count {
    margin-left: 20px;
    font-size: 15px; }
  .book-description__buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 10px; }
  .book-description__button {
    margin: 0 5px;
    white-space: nowrap; }

/*-- TODO fix this stars style-names --*/
.book-description__rating > input:checked ~ label,
.book-description__rating:not(:checked) > label:hover,
.book-description__rating:not(:checked) > label:hover ~ label {
  color: #ffd700; }

.book-description__rating > input:checked + label:hover,
.book-description__rating > input:checked ~ label:hover,
.book-description__rating > label:hover ~ input:checked ~ label,
.book-description__rating > input:checked ~ label:hover ~ label {
  color: #ffed85; }

.btn-read {
  color: #900; }

.main__category {
  margin-bottom: 15px; }

.category {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38); }
  .category__name {
    box-sizing: border-box;
    margin: 15px auto 5px;
    font-size: 20px; }
  .category__books {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap; }
  .category__book {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 265px;
    max-width: 450px;
    margin: 10px auto; }
    @media only screen and (min-width: 621px) {
      .category__book {
        width: 48%; } }
    @media only screen and (min-width: 921px) {
      .category__book {
        width: 32%; } }
    @media only screen and (min-width: 1281px) {
      .category__book {
        width: 24%; } }

.read-book__content {
  margin-top: 15px;
  padding: 0 15px;
  text-align: justify;
  text-indent: 40px;
  word-spacing: 1.5px;
  font-size: 1em;
  line-height: 1.25em; }

.recent__content {
  margin-top: 15px;
  padding: 1px 8px; }
.recent__category {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px; }
.recent__category-date {
  overflow: hidden;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 14px; }
.recent__book {
  display: flex;
  width: 100%;
  margin: 10px auto;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff; }
  .recent__book:nth-child(2) {
    margin-top: 8px; }
.recent__book-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 6; }
.recent__book-title {
  color: #900;
  font-size: 18px;
  line-height: 1.25em; }
.recent__book-author {
  font-size: 13px; }
.recent__book-description {
  font-size: 12px;
  line-height: 1.2em;
  -webkit-line-clamp: 4;
  flex-grow: 1;
  margin-top: 5px; }
.recent__book-progress {
  position: relative;
  width: auto;
  height: 8px;
  margin: 15px 10px 10px 25px; }
  .recent__book-progress::before {
    position: absolute;
    content: "";
    font-size: 24px;
    font-family: FontAwesome, "Open Sans", "Roboto", Arial, sans-serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: -8px;
    left: -25px; }
.recent__book-cover {
  flex-grow: 1;
  max-height: 128px; }

.settings__header {
  padding: 10px 18px 12px; }

.settings__info {
  color: #999;
  font-size: 13px; }

.settings__email {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700; }

.settings__form {
  display: none; }

.btn-clear {
  color: #000; }

.btn-submit {
  color: #900; }

.support__form {
  margin: 15px auto;
  padding: 0 8px; }

.support__form-content {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px; }

.support__form-info {
  font-size: 15px;
  line-height: 1.25em; }

.support__form-subject {
  margin-top: 15px; }

.support__form-message {
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  resize: none;
  border-radius: 8px;
  font-size: 16px; }

.support__buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.btn-submit {
  color: #900; }

body {
  position: relative;
  background-color: #eee;
  font-family: "Open Sans", "Roboto", Arial, sans-serif;
  font-weight: 400; }
  @media only screen and (min-width: 1000px) {
    body {
      margin-left: 166px; } }

input,
textarea,
button,
select {
  font-family: "Open Sans", "Roboto", Arial, sans-serif;
  font-weight: 400; }

::-webkit-input-placeholder {
  color: #999; }

::-moz-placeholder {
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

:-moz-placeholder {
  color: #999; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 1px 6px rgba(32, 33, 36, 0.38);
  background-color: #F5F5F5;
  border-radius: 2px; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 2px; }

.other-pages {
  max-width: 1600px;
  margin: auto;
  padding-top: 40px; }
  .other-pages__block {
    overflow-x: hidden;
    margin: 10px 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38); }

.reviews {
  white-space: nowrap;
  color: #900;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
