.support {
    padding: 15px 0;
}

.support__form {
    margin: 15px auto;
    padding: 0 8px;
}

.support__form-content {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
    border-radius: 8px;
    padding: 10px;
}

.support__form-info {
    font-size: 15px;
    line-height: 1.25em;
}

.support__form-subject {
    margin-top: 15px;
}

.support__form-message {
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;

    resize: none;
    border-radius: 8px;

    font-size: 16px;
}

.support__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.btn-clear {
}

.btn-submit {
    color: #900;
}
