@import '../constants';

.auth-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(3,3,3,.85);

  &__main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border: $border;
    border-radius: 8px;
    padding: $main-padding;
    display: flex;
    flex-flow: column wrap;


    @include small {
      width: 400px;
    }
  }

  &__cancel {
    position: absolute;
    top: 8px;
    right: $main-padding + 2;
    font-size: 20px;

    &:hover {
      cursor: pointer;
    }

    &:before {
      @include awesome-icon(relative, '\f00d' , inherit)
    }
  }

  &__menu {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }


  &__menu-option {
    padding: 10px;
    font-size: 20px;

    @include small {
      font-size: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__active-option {
    color: $primary-color;
  }
}

