@import '../constants.scss';

.books-switcher {
    display: flex;
    overflow: visible;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    transition: transform 0s ease-out;
    flex-wrap: nowrap;

    @include desktop {
        transform: translate(0);
        overflow-x: auto;
        width: inherit;
    }

    &__dots {
        position: absolute;
        left: 50%;
        user-select: none;
        transform: translateX(-18px);

        &_hide {
            display: none;
        }
    }

    &__dot {
        margin: 0 2px;
        color: #fff;
        border: 2px solid $black;
        border-radius: 8px;
        font-size: 7px;

        &_active {
            color: red;
        }
    }

    &__see-more {
        position: absolute;
        right: 20px;
        bottom: 13px;
        cursor: pointer;
        text-decoration: none;
        color: $primary-color;

        &::after {
            margin-left: 5px;
            @include awesome-icon(inherit, '\f105 \f105', 16px);
        }
    }

    &__book {
        min-width: 260px;
        margin: 10px 6px;

        @include tablet {
            min-width: 338px;
        }
    }
}
