@import '../constants.scss';

.books {
  position: relative;
  min-width: 282px;
  margin: 0 auto;
  padding: 0 4px 5px;

  @include desktop {
    width: fit-content;
  }
}

.book {
  width: 260px;
  height: 162px;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 15px 10px;
  border: $border;
  border-radius: 5px;

  @include tablet {
    width: 338px;
    height: 188px;
  }

  &__cover {
    min-width: 100px;
    height: 130px;

    @include tablet {
      min-width: 120px;
      height: 156px;
    }
  }

  &__info {
    height: 100%;
    margin-left: 10px;
    white-space: normal;
  }

  &__title {
    text-decoration: none;
    color: $primary-color;
    font-size: 16px;
  }

  &__author {
    font-size: 14px;
    line-height: 1.25em;
    color: $black;
  }

  &__isbn {
    font-size: 13px;
    line-height: 2em;
    color: $black;
  }

  &__desc {
    font-size: 12px;
    line-height: 1.15em;
    margin-top: 5px;
  }

  &__reviews {
    position: absolute;
    bottom: 14px;
  }
}