@import '../constants.scss';

.main__category {
    margin-bottom: 15px;
}

.category {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $box-shadow;

    &__name {
        box-sizing: border-box;
        margin: 15px auto 5px;
        font-size: 20px;
    }

    &__results-books {
        @include desktop {
            overflow-x: auto;
        }
    }

    &__books {
        display: flex;
        flex-flow: row;
        justify-content: center;

        padding: 0 10px 10px;

        flex-wrap: wrap;
    }

    &__book {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        margin: 5px;
        box-sizing: border-box;

        @include small {
            width: 46%;
        }

        @include tablet {
            width: 46%;
        }

        @include desktop {
            width: 30%;
        }

        @include large {
            width: 23%;
        }
    }
}
