@import '../constants.scss';

.main__category {
    margin-bottom: 15px;
}

.category {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: $box-shadow;

    &__name {
        box-sizing: border-box;
        margin: 15px auto 5px;
        font-size: 20px;
    }

    &__books {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 10px;

        flex-wrap: wrap;
    }

    &__book {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;

        box-sizing: border-box;
        min-width: 265px;
        max-width: 450px;
        margin: 10px auto;

        @media only screen and (min-width: 621px) {
            width: 48%;
        }

        @media only screen and (min-width: 921px) {
            width: 32%;
        }

        @media only screen and (min-width: 1281px) {
            width: 24%;
        }
    }
}
