@import '../constants.scss';

.other-pages__comments {
  box-sizing: border-box;
  margin: 15px 8px;
}

.Comments {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: $box-shadow;
  padding: 10px 0;

  &__header {
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &__content {
    padding: 15px 15px 0;

    &_hide {
      display: none;
    }
  }

  &__showMore-btn {
    margin-top: 20px;
    background-color: #eee;
    text-align: center;

    &_hide {
      display: none;
    }
  }
}

.new-comment {
  display: flex;
  flex-flow: row;

  &__desc {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
  }

  &__text {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    resize: none;
  }

  &__buttons {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    margin-top: 5px;
    border-bottom: 2px solid $black;

    @include tablet {
      flex-flow: row wrap;
      justify-content: flex-end;
    }

    &_hide {
      display: none;
    }
  }

  &__button {
    background: none;
    border: none;
    margin: 10px 0;
    padding: 3px;
    border-radius: 2px;
    font-size: 16px;

    @include tablet {
      border: $border-btn;
      font-size: 20px;
      margin-left: 10px;
      padding: 5px 10px;
    }
  }
}

.btn-send {
  color: gray;
  border: 1px solid lightgray;

  &:not([disabled]) {
    color: $primary-color;
    border: $border-btn;
  }
}

.comment {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  font-size: 13px;

  &__user-image {
    display: inline-block;
  }

  &__user-image:before {
    @include awesome-icon(inherit, '\f2be', 48px);
    transform: translate(0, 10px);
  }

  &__desc {
    display: flex;
    flex-flow: column;

    box-sizing: border-box;
    width: 100%;
    margin-left: 10px;
  }

  &__author {
    color: $primary-color;
  }

  &__time {
    margin-left: 10px;
    font-size: 11px;
    color: #7b7b7b;
  }

  &__text {
    margin-top: 8px;
    line-height: 1.25em;
  }
}
