@import '../constants.scss';

.options {
  padding: 1px 8px;
}

.Option {
  margin-bottom: 15px;
  padding: 10px 0;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 8px;

  &__content {
    position: relative;
    padding: 0 10px;

    &_hide {
      display: none;
    }
  }

  &__field {
    position: relative;
    display: block;
  }

  &__buttons {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    @include tablet {
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  } 

  &__button {
    width: 100%;
    margin: 10px 0 0;
    @include tablet {
      margin: 0;
      width: auto;
    }
  }
}