.options {
	padding: 1px 8px;
}

.option {
	margin-bottom: 15px;
    padding: 10px 0;

    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
	
	&__header {
		overflow: hidden;
    	font-size: 20px;
	}

	&__content {
	    position: relative;
	    padding: 0 10px;

	    &_hide {
	    	display: none;
	    }
	}

	&__field {
		position: relative;
		display: block;
	}

	&__buttons {
		display: flex;
	    flex-flow: row;
	    justify-content: space-between;
	    align-items: center;

	    width: 100%;
	}	
}