$font-stack: 'Open Sans', 'Roboto', Arial, sans-serif;
$primary-color: #900;
$black: #000;
$box-shadow: 0 1px 6px rgba(32, 33, 36, .38);

%small-caps {
    text-transform: lowercase;
    font-variant: small-caps;
}

%multi-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

@mixin multi-textblock($fSize, $lHeight, $colCount) {
    @extend %multi-text;
    font-size: $fSize;
    line-height: $lHeight;
    -webkit-line-clamp: $colCount; 
}

@mixin awesome-icon($position, $content , $size) {
    position: $position;
    content: $content;
    font: {
        size: $size;
        family: FontAwesome, $font-stack;
    }
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}