$small-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1440px;

@mixin small {
  @media only screen and (min-width: #{$small-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet-width}){
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: #{$large-width}) {
    @content;
  }
}

$font-stack: 'Open Sans', 'Roboto', Arial, sans-serif;
$primary-color: rgba(153, 0, 0, 1);
$header-color: rgba(61, 59, 73, 0.95);
$black: #333;
$box-shadow: 0 1px 6px rgba(32, 33, 36, .38);
$main-padding: 8px;
$other-padding: 173px;
$border: 1px solid rgba(0,0,0,.2);
$border-btn: 1px solid rgba(0,0,0,.6);
$regular: 400;
$bold: 600;

%small-caps {
    text-transform: lowercase;
    font-variant: small-caps;
}

%multi-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

@mixin multi-textblock($fSize, $lHeight, $colCount) {
    @extend %multi-text;
    font-size: $fSize;
    line-height: $lHeight;
    -webkit-line-clamp: $colCount; 
}

@mixin awesome-icon($position, $content , $size) {
    position: $position;
    content: $content;
    font: {
        size: $size;
        family: FontAwesome, $font-stack;
    }
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}